@import "fullcalendar-3.7.0/fullcalendar.less";
@import "datetimepicker-2.4.5/jquery.datetimepicker.less";


/* modal windows */
#dw_davcal__edit,
#dw_davcal__settings,
#dw_davcal__confirm {
    position: absolute;
    background-color: #fff;
    color: #000;
    z-index: 20;
    overflow: hidden;
}

#dw_davcal__edit .ui-dialog-content,
#dw_davcal__confirm .ui-dialog-content,
#dw_davcal__settings .ui-dialog-content, {
    padding-left: 0;
    padding-right: 0;
}

.dw_davcal__date {
    width: 90px;
}

.dw_davcal__time {
    width: 50px;
}

.dw_davcal__text {
    width: 220px;
}

#dw_davcal__editevent_attachments td {
    border: 0;
    
}

#dokuwiki__pagetools {
    z-index: 10;
}


.davcalevents
{
  margin:50px auto 0 auto;
  width:100%;
  align-items:space-around;
  max-width:1200px;
  display:block;
}
.davcalevents .tile
{
  width:280px;
  height:200px;
  margin:10px;
  
  display:inline-block;
  background-size:cover;
  position:relative;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.davcalevents .tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.davcalevents .tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.davcalevents .tile h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.davcalevents .tile h2
{
  font-weight:100;
  margin:5px 0 0 0;
  font-style:italic;
  /* transform: translateX(200px); */
}
.davcalevents .tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.davcalevents .animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.davcalevents .tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.davcalevents .tile:hover img
{
  opacity: 0.2;
}
.davcalevents .tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

.davcalevents .more
{
  position:absolute;
  bottom:20px;
  right:20px;
  margin: 0 auto;
  color:currentColor;
}

.davcalevents .dots
{
  position:absolute;
  bottom:20px;
  right:0px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.davcalevents .more span
{
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
  opacity: 0;
}

.davcalevents .more a,
.davcalevents .more a:hover,
.davcalevents .more a:visited
{
    color: #ffffff;
}

.davcalevents .dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.davcalevents .tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.davcalevents .dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.davcalevents .dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.davcalevents .dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .davcalevents {
   flex-direction: column;
    width:400px;
  }
}